<div class="mx-auto px-4">
  <div class="flex flex-row px-4">
    <%= link_to :back do %>
      <i class="fa-solid fa-angle-left fa-2x pr-4"></i>
    <% end %>
    <div class="flex flex-col">
      <div class="text-2xl font-bold pr-4"><%= @user.name %></div>
      <div class="text-xs"><%= @license.is_valid_license? %></div>
    </div>
  </div>
  <%= render partial: "licenses/license_card" %>
</div> 