<div class="main">
  <aside class="col-md-4">
    <section class="micropost_form">
      <%= render partial: 'shared/micropost_form', locals: { target_flight: nil } %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>投稿</h3>
    <%= render partial: 'microposts/microposts_container' %>
  </div>
</div>