<% provide(:title, 'プライバシーポリシー') %>

<% content_for :header_action do %>
  <%= link_to new_user_session_path do %>
    <div class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">ログイン
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </div> 
  <% end %>
<% end %>

<h1>プライバシーポリシー</h1>
<p>
  This is the Top page for the
  <a href="#">Hanger Talk</a>
  sample application.
</p>