<% provide(:title, '新しいフライト（飛行機）') %>
<% provide(:add_flight_leg, '＋レグを追加') %>
<% provide(:register_button, '登録する') %>
<h1>新しいフライト（飛行機）</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'flight_form' %>
  </div>
</div>