<% provide(:title, '新しいフライト（飛行機）') %>
<% provide(:post_button, '投稿する') %>
<% provide(:register_button, '登録のみする') %>
<h1>新しいフライト（飛行機）</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>