<% provide(:title, 'ユーザー一覧') %>

<% content_for :supplementary_information do %>
  <% if controller.action_name == "following_index" %>
    <%= "#{@user.following.count}人をフォロー中" %>
  <% else %>
    <%= "#{@user.followers.count}人のフォロワー" %>
  <% end %>
<% end %>

<% if users.any? %>
  <div class='flex flex-wrap'>
    <%= render partial: "users/show_follow", collection: users, as: :user %>
    <div class="flex justify-center">
      <%= paginate @users %>
    </div> 
  </div>
<% end %> 
