<%= link_to user_path(id: user.id) do %> 
  <div class="max-w-sm rounded shadow-lg">
    <%= image_tag user.user_cover, class: 'w-full' %>
    <div class="px-6 py-4">
      <div class="font-bold text-xs mb-2">
        <%= user.name %>
      </div>
      <div class="text-gray-700 text-sm overflow-hidden">
        自己紹介文です。文字数制限は１６０文字です。
      </div>
    </div>
  </div>

<% end %>  
