<% if controller.action_name == "following" %>
  <% provide(:title, 'フォロー中') %>
<% else %>
  <% provide(:title, 'フォロワー') %>
<% end %>

<% content_for :supplementary_information do %>
  <% if controller.action_name == "following" %>
    <%= "#{@user.following.count}人をフォロー中" %>
  <% else %>
    <%= "#{@user.followers.count}人のフォロワー" %>
  <% end %>
<% end %>

</div>
<% if @users.any? %>
  <div class='flex justify-center flex-col'>
    <%= render partial: "users/user_card", collection: @users, as: :user %>
  </div>
  <div class="flex justify-center">
    <%= paginate @users %>
  </div> 
<% end %>
