<div class="page-total-block">
  <div class="page-total-row">
    <div class="page-total-header">ページ小計</div>
    <% flight_info = glider_page_total('page_total') %>
    <%= render partial: 'show_glider_page_total', locals: { flight_info: flight_info } %> 
  </div>
  <div class="page-total-row">
    <div class="page-total-header">前ページまでの合計</div>
    <% flight_info = glider_page_total('up_to_before_current_page') %>
    <%= render partial: 'show_glider_page_total', locals: { flight_info: flight_info } %>
  </div>
  <div class="page-total-row">
    <div class="page-total-header">合計</div>
    <% flight_info = glider_page_total('all_pages') %>
    <%= render partial: 'show_glider_page_total', locals: { flight_info: flight_info } %>
  </div>
</div>
