<div class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100 ">
  <div class="w-6">
    <i class="<%= fontawesome_class %>" ></i>
  </div>
  <p class="ml-3">
    <%= item %>
  </p>
</div>