<div class='flex flex-row mx-auto px-4 py-4'>
  <%= link_to user_path(id: user.id) do %>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="h-1/3">
        <%= image_tag "image_sample.jpg", calss: "object-cover h-48 w-full" %>
      </div>
      <div class="h-2/3">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= user.name %></div>
          <p class="text-gray-700 text-base">
            <%= user.introduction %>
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
    </div>
  <% end %>
</div>

