<div class="select-logbook">
  <div class="aeroplane-flight-log">
    <h3><%= link_to "飛行機", aeroplane_flights_path %></h3>
    <p><%= render 'shared/flight_experiences' %></p>
  </div>
  <div class="glider-flight-log">
    <h3><%= link_to "滑空機", "#" %></h3>
    <p>滑空機の飛行経歴</p>
  </div>
</div>