<div class="select-category-for-creation">
  <div class="new-aeroplane-flight">
    <h3><%= link_to "飛行機のフライトログを追加する", new_aeroplane_flight_path %></h3>
    <p><%= render 'shared/aeroplane_experiences' %></p>
  </div>
  <div class="new-glider-flight">
    <h3><%= link_to "滑空機のフライトログを追加する", "#" %></h3>
    <p>滑空機の飛行経歴</p>
  </div>
</div>