<p><%= @resource.email %> さん</p>

<p>以下のリンクをクリックして、メールアドレスの認証を完了してください。</p>

<p><%= link_to 'メールアドレスを認証する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※有効期限は本メールの発行から２４時間以内です。</p>
<p>※このメールは送信専用です。ご返信をいただいてもご連絡できかねますのでご了承ください。<br></p> 

<p>--------------------------------------------------</p> 
<p>Hangar Talk</p> 
<p>hangartalk-app.com</p> 
<p>--------------------------------------------------</p> 
