<% @user ||= current_user %>
<div class="flight_experiences">
  <h3>飛行経歴</h3>
  <% if @user.aeroplane_flights.any? %>

    <h3><a href="#">飛行機</a></h3>
    <ul>
      <li>総飛行時間 <%= aeroplane_total_flight_time %></li>
      <li>総離着陸回数 <%= '実装中' %></li>
      <li>機長時間</li>
    </ul>
  <% end %>
</div>