<button class="w-full cursor-pointer bg-indigo-700 hover:bg-indigo-600 text-white active:bg-white active:text-indigo-700 font-bold hover:shadow-md shadow text-sm px-8 py-3 rounded-lg border-solid border-2 border-indigo-700 sm:mr-2 mb-1 ease-linear transition-all duration-150">
  <%= item %>
</button>