<div class="content-outer-block">
  <div class=" display-flex">
    <div class="departure_date">出発日：２０２２年２月２６日</div>
    <div class="fleet">搭乗機体</div>
  </div>
  <div class="display_block">
    <div class="fleet">離陸時刻</div>
    <div class="fleet">（飛行時間）</div>
    <div class="fleet">着陸時刻</div>
    <div class="fleet">出発地</div>
    <div class="fleet">到着地</div>
  </div>
</div>