<div class="text">
  <%= micropost.content %>
  <div class="in-pict">
    <% if micropost.images.attached? %>
      <% images = micropost.display_image %>
      <% number_of_picture = images.size %>
      <% number_of_picture.times do |i|%>
        <%= image_tag images[i] %>
      <% end %>
    <% end %>
  </div>
</div>