 <div class="twitter_container">
  <!-- タイトル -->
  <div class="twitter_title">
    <span class="twitter-logo">投稿</span>
  </div>

  <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
  <div class="twitter_contents scroll">
  <!-- ここに吹き出しやスタンプのタグを追加していく -->
  <%= render 'microposts' %>
  </div>
  <!--　▲タイムラインエリア ここまで -->
</div> 