<% shared_micropost = micropost.get_shared_micropost %>
<!-- シェアされているツイートが存在する場合 -->
<% if !shared_micropost.nil? %>
  <%= render partial: 'microposts/micropost_card', locals: { micropost: shared_micropost } %>
  <%
=begin%>
 <% if !micropost.content.nil? %>
    <%= render partial: 'microposts/micropost_action', locals: { micropost: micropost } %>  
  <% end %> 
<%
=end%>
<!-- シェアされているツイートが削除された場合 -->
<% else %>
  <div class="px-5 py-4 my-2 bg-white dark:bg-gray-800 shadow rounded-lg w-full">
    <p>投稿は削除されました</p>
  </div>
<% end %>