/* universal */
ul {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style-type: none;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: orange;
}
h3 {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #333;
  text-decoration: underline;
  text-underline-offset: 5px;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*ナビゲーションバー*/
.header-nav {
  list-style-type: none;
  height: 80px;
  width: 100%;
}
.header-nav-list {
  float: right;
}
.header-nav-list li{
  width: 140px;
  text-align: center;
  // list-style-type: none;
  position: relative;
  float: left;
}
.header-nav-list li ul{
  // list-style-type: none;
  display: none;
  position: absolute;
  padding: 0;
  width: auto;
}
.header-nav-list li ul li{
	margin: 0 auto;
  margin-top: 10px;
}
.header-nav-list li:hover > ul {
  color: #e4e4e4; /* メニュー項目にマウスが載ったときの文字色変更 */
  display: block;
}

// body{
//   width:100%; /*ページ全体の幅は100%と指定する*/	
//   text-align:center; /*ページ全体を中央揃えにする*/
// }
// #wrap{ 
//   width: 960px;	   /*全体の幅を指定する*/  
//   margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
//   text-align:left;   /*全体を左揃えにする。*/
// }
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* sidebar */
.main-sidebar {
  width: 250px;
  margin: 10px 40px;
  display: inline-block;
}
.sidebar-user-name {
  text-align: center;
  font-weight: bold; 
}
.user-stats {
  text-align: center;
}
.user-stats a{
  display: inline-block;
  margin: 10px 5px;
}
.user-stats p{
  margin-top: 0;
}
.side-menu {
  text-align: center;
}
.side-menu li{
  margin-top: 20px;
}

.edit-button {
  display: flex;
}

.value {
  float: right;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* microposts */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  // .content {
  //   display: block;
  //   margin-left: 60px;
  //   img {
  //     display: block;
  //     padding: 5px 0;
  //   }
  // }
  .timestamp {
    display: block;
    margin-left: 60px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* フライトログ */
.logbook-table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  .logbook-header {
    // display: table;
    display: flex;
    // height: 180px;
    .three-rows-block {
      display: inline-block;
      // height: 180px;
      .second-row-block {
        display: flex;
        .two-rows-block {
          display: inline-block;
          // height: 120px;
          .third-row-block {
            display: flex;
          }
      }
      }
    }
  }
}
.three-rows-table-header {
  border: solid 1px #a5d1f1;
  height: 180px;
  width: 80px;
  text-align:center;
}
.two-rows-table-header {
  border: solid 1px #a5d1f1;
  height: 120px;
  width: 80px;
}
.one-row-table-header {
  border: solid 1px #a5d1f1;
  height: 60px;
  // width: 80px;
}
.logbook-data-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.log-number-cell, .landing-number-cell {
  width: 60px;
  text-align:center;
}

.departure-date-cell {
  width: 120px;
  text-align:center;
}
.departure-and-arrival-point-cell {
  width: 150px;
  text-align:center;
}

.glider-type-cell, .glider-ident-cell, .takeoff-time-cell, .landing-time-cell {
  width: 80px;
  text-align:center;
}
.table-data {
  width: 80px;
  text-align:center;
}
.table-row {
  display: flex;
}
.block {
  display: block;
}

//ページ合計
.page-total-block {
  display: block;
}
.page-total-row {
  display: flex;
  border: solid 1px #a5d1f1;
  padding: 10px 0;
}
.page-total-header {
  width: 710px;
  text-align:center;
}
.glider-total-block {
  display: block;
}
.entire-row {
  display: flex;
}
.edit-delete-link {
  margin-top: 26px;
  margin-left: 15px;
}

.initial-log_header {
  width: 710px;
}

th, td {
  padding: 5px 15px;
  border: solid 1px #a5d1f1;
}
th {
  color: #0d90f3;/* 見出しの文字色 */
  background-color: #d0ebfd; /* 見出しの背景色 */
}
tr p{
  text-align: right;
}

//グループ
.group-detail {
  display:block;
}

//「新しいフライト」ページ
.select-category {
  flex-direction: column;
}

//フォーム
.main {
  display: block;
  margin-right: 40px;
  margin-left: 40px;
}
.content-outer-block {
  display: block;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.content-inner-block {
  display: block;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.input-field {
  // display: block;
  height:50px;
}
.label{
	// margin-right: 20px;
	width: auto;
  height:50px;
	border-left: solid 3px #FF6701;
	padding-left: 10px;
}
.form-control {
  float: right;
  width:300px;
  height:50px;
}
.radio-button-block {
  // display: inline-block;
  // float: left;
}

.radio-element {
  display:inline-block;
  // display: flex;
  // float: left;
  // display: flex;
  // display: flex
}
.radio-button {
  // display: inline-block;

}
.radio-label {
  display:inline-block;
  // display:inline;
}
.check-box-block {
  display: inline-block;
}
.check-box-element {
  // height:50px;
  display: inline-block;
}
.check-box-label {

}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

// *,
// *:before,
// *:after {
//   -webkit-box-sizing: inherit;
//   box-sizing: inherit;
// }

// html {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   // font-size: 62.5%;/*rem算出をしやすくするために*/
// }

// .btn,
// a.btn,
// button.btn {
//   font-size: 1.6rem;
//   font-weight: 700;
//   line-height: 1.5;
//   position: relative;
//   display: inline-block;
//   padding: 1rem 4rem;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -webkit-transition: all 0.3s;
//   transition: all 0.3s;
//   text-align: center;
//   vertical-align: middle;
//   text-decoration: none;
//   letter-spacing: 0.1em;
//   color: #212529;
//   border-radius: 0.5rem;
// }

// a.btn-border {
//   border: 2px solid #000;
//   border-radius: 0;
//   background: #fff;
// }

// a.btn-border:hover {
//   color: #fff;
//   background: #000;
// }

