<% case item %>
  <% when 'アカウント登録' %>
    <button class="cursor-pointer block bg-indigo-700 hover:bg-indigo-600 active:bg-indigo-500 focus-visible:ring ring-indigo-200 text-white text-sm md:text-base font-semibold text-center hover:shadow-md shadow rounded-lg outline-none transition duration-100 px-8 py-3 mt-3">
      <%= item %>
    </button>
  <% when 'ログイン' %>
    <button class="cursor-pointer block bg-white hover:bg-indigo-700 active:bg-indigo-600 focus-visible:ring ring-indigo-300 text-indigo-700 hover:text-white text-sm md:text-base font-semibold text-center hover:shadow-md shadow rounded-lg outline-none transition duration-100 px-8 py-3 mt-3">
      <%= item %>
    </button>
  <% when 'ゲストログイン（閲覧用）' %>
    <button class="cursor-pointer block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center hover:shadow-md shadow rounded-lg outline-none transition duration-100 px-8 py-3 mt-3">
      <%= item %>
    </button>
<% end %>