<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Hanger Talkとは？", about_path %></li>
      <li><%= link_to "プライバシーポリシー", policy_path %></li>
      <li><%= link_to "お問合せ", inquiry_path %></li>
    </ul>
  </nav>
</footer>